services:
  sos-rs-api:
    image: "{{ app_image }}:{{ app_image_tag }}"
    restart: always
    pull_policy: always
    tty: true
    environment:
      - DATABASE_URL=postgresql://{{ db_user }}:{{ db_password }}@{{ db_host }}:{{ db_port }}/{{ db_database_name }}?schema=public
      - HOST={{ app_host }}
      - PORT={{ app_port }}
    healthcheck:
      test: ["CMD-SHELL", "curl --silent --fail http://localhost:{{ app_port }}/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3

  nginx:
    image: nginx:latest
    ports:
      - '{{ nginx_port }}:{{ nginx_port }}'
    environment:
      - NGINX_PORT={{ nginx_port }}
      - PORT={{ app_port }}
    volumes:
      - {{ app_dir }}/nginx.conf:/etc/nginx/nginx.conf